/* UNIVERSAL SELECTORGA STYLE BERILDI */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

/* BODY GA STYLE BERILDI */
body {
    width: 100%;
    height: 100%;
    background-color: #444;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
}

/* HAMMA BUTTONLARGA STYLE BERILDI */
button {
    border: 0;
    outline: 0;
}

/* ENG KATTA PASSWORD BOX GA STYLE BERILDI */
.password-box {
    margin: 40px 0;
    width: 400px;
    height: 600px;
    padding: 10px 25px;
    background: #222;
    border-radius: 10px;
    box-shadow: 0 0 5px #FFF, 0 4px 8px #555, 0 8px 12px #666;
}

.password-box h2 {
    font-size: 1.75rem;
    margin: 10px -5px;
    margin-bottom: 30px;
    color: #fff;
    text-align: center;
}

/* GENERATSIYANI KO'RSATUVCHIGA STYLE BERILDI */
.result {
    position: relative;
    width: 100%;
    height: 65px;
    overflow: hidden;
}

.result-box {
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 8px;
    color: #fff;
    text-align: center;
    line-height: 65px;
}

/* LENGTH SO'ZIGA STYLE BERILDI */
.word-length-title {
    position: absolute;
    top: -10px;
    left: 8px;
    transform: translatey(-50%);
    font-weight: 800;
    color: rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
    font-size: 0.65rem;
    pointer-events: none;
    user-select: none;
}

/* HARF-RAQAM UZUNLIGINI KO'RSATUVCHI INPUT */
.line-shower {
    position: relative;
    width: 100%;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff14;
    border-radius: 8px;
    margin: 30px 0;
}

.line-shower::before,
.line-shower::after {
    position: absolute;
    color: #fff;
    font-size: 0.9rem;
    font-weight: bold;
}

.line-shower::before {
    content: attr(data-min);
    left: 10px;
}

.line-shower::after {
    content: attr(data-max);
    right: 10px;
}

.line-shower.length__slider::after {
    content: attr(data-length);
    position: absolute;
    right: -16px;
    font-variant-numeric: tabular-nums;
    color: #fff;
}

/* RANGE TYPEDAGI INPUT GA YA'NI (LINE) GA STYLE BERILDI*/
#slider {
    -webkit-appearance: none;
    width: calc(100% - (70px));
    height: 2px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.314);
    outline: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

#slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
}

#slider::-webkit-slider-thumb:hover {
    background: #d4d4d4;
    transform: scale(1.2);
}

#slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border: 0;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
}

#slider::-moz-range-thumb:hover {
    background: #d4d4d4;
}

/* SETTINGS BO'LIMIGA STYLE BERILDI */
.settings {
    position: relative;
    height: auto;
    widows: 100%;
    display: flex;
    flex-direction: column;
}

.setting {
    position: relative;
    width: 100%;
    height: 55px;
    background: #ffffff14;
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding: 10px 25px;
    color: #fff;
    margin-bottom: 8px;
}

.setting input {
    opacity: 0;
    position: absolute;
}

/* ON-OFF GA STYLE BERILDI */
.setting input+label::before,
.setting input+label::after {
    content: '';
    position: absolute;
    transition: .2s all linear;
    transform: translatey(-50%);
    top: 50%;
    right: 10px;
    cursor: pointer;
}

.setting input+label::before {
    height: 30px;
    width: 50px;
    border-radius: 30px;
    background: rgba(214, 214, 214, 0.434);
    border: none;
}

.settings .setting input+label::after {
    height: 24px;
    width: 24px;
    border-radius: 60px;
    right: 32px;
    background: #fff;
}

.setting input:checked+label:before {
    background: #000;
    transition: all 150ms cubic-bezier(0, 0, 0, 0.1);
}

.setting input:checked+label:after {
    right: 14px;
}

.setting input:disabled+label:before,
.setting input:disabled+label:after {
    cursor: not-allowed;
}

.setting input:disabled+label:after {
    background: #909090;
}

/* GENERATSIYA BUTTONIGA STLE BERILDI */
.btn.generate {
    user-select: none;
    position: relative;
    width: 100%;
    height: 50px;
    margin: 10px 0;
    border-radius: 8px;
    color: #fff;
    border: none;
    background: rgba(255, 255, 255, 0.08);
    letter-spacing: 1px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 150ms ease;
}

.btn.generate:active {
    transform: scale(0.9);
}