form {
  padding: 2rem;
}
.firstInput {
  a {
    cursor: pointer;
    padding: 0 1rem;
    text-decoration: none;
    border: 1px solid;
    color: #000;
  }
  display: flex;
  width: 300px;
  input {
    width: 100%;
  }
}

.secondInput {
  display: flex;
  margin-top: 5px;
  width: 300px;
  input {
    width: 100%;
  }
}